# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [2]:
# Add your code for Question 1 in this code block
import pandas as pd

---

### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [3]:
# Add your code for Question 2 in this code block
app = pd.read_csv("application_data.csv")
app.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [4]:
# convert to dates
app['appilcationDate'] = pd.to_datetime(app['appilcationDate'])
app['repaymentDueDate'] = pd.to_datetime(app['repaymentDueDate'])
app['repaymentPaidDate'] = pd.to_datetime(app['repaymentPaidDate'])

app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
customerID           1000 non-null object
loanId               1000 non-null object
appilcationDate      1000 non-null datetime64[ns]
LoanNumber           1000 non-null int64
LoanAmount           1000 non-null float64
InterestRate         1000 non-null float64
TermDays             1000 non-null int64
repaymentDueDate     1000 non-null datetime64[ns]
repaymentPaidDate    1000 non-null datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(2)
memory usage: 70.4+ KB

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [5]:
# data types
types = pd.unique(app.dtypes)
unique = len(types)
print("There are",unique,"unique data types")  #Number of Unique types

There are 4 unique data types

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [6]:
unique_loans = pd.unique(app["loanId"])
print(len(unique_loans)) #Ensure that there isn't a case of multiple entries of the same loan which should be 1000 in number

1000

In [7]:
# 2a avg loan amount

Average_Loan_Amount = app["LoanAmount"].mean()
print("The average loan amount is",round(Average_Loan_Amount,2))

The average loan amount is 13828.08

In [8]:
# 2b avg interest rate
Average_Interest_Rate = app["InterestRate"].mean()
print("The average interest rate is",round(Average_Interest_Rate,2))

The average interest rate is 23.06

In [9]:
# 2c avg term days 
average_term_days = app["TermDays"].mean()
print("The average term day is ",round(average_term_days,2))

The average term day is  42.08

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [14]:
# number of loans more than 3 days late
app["dateDifference"] = app["repaymentPaidDate"] - app["repaymentDueDate"] #Late loans
app[["dateDifference"]].info() 

#late_loans_df = app[app["dateDifference"] > pd.Timedelta(3,'D')]
#late_loans_df.head() 

#late_loans = pd.unique(late_loans_df.loanId) #Since each loan is unique, it is a good column to count with
#print("There are", len(late_loans), "loans paid more than 3 days late")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
dateDifference    1000 non-null timedelta64[ns]
dtypes: timedelta64[ns](1)
memory usage: 7.9 KB

### Verifying the new dataset

In [10]:
late_loans_df['dateDifference'] = late_loans_df['dateDifference'].dt.days
late_loans_df.head()

C:\Users\Demilade\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference
397,GH35460722,100016172,2018-01-30,5,80.0,15.0,15,2018-02-14,2018-03-01,15
410,GH85390929,100015715,2018-01-27,2,80.0,15.0,15,2018-02-12,2018-02-16,4
419,GH06832511,100014400,2018-01-20,1,80.0,15.0,15,2018-02-05,2018-02-14,9
424,GH26139148,100017099,2018-02-04,2,80.0,15.0,15,2018-02-19,2018-02-27,8
426,GH03825373,100012495,2018-01-13,1,80.0,15.0,15,2018-01-29,2018-02-13,15

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

In [11]:
print("MEAN")
termDay_average = app.groupby(['TermDays'], axis=0)['LoanAmount'].mean()
print(round(termDay_average,2))

MEAN
TermDays
15      1274.09
30      7941.96
45     10706.25
60     25710.53
90     37672.73
120    45055.56
180    80988.10
Name: LoanAmount, dtype: float64

In [12]:
print("STANDARD DEVIATION")
termDay_std = app.groupby('TermDays')['LoanAmount'].std()
print(round(termDay_std,2))

STANDARD DEVIATION
TermDays
15      2885.97
30      1606.04
45      2346.14
60     11559.65
90     18050.14
120    22192.97
180    34612.22
Name: LoanAmount, dtype: float64

In [17]:
# mean loan amount in 30-day loans and standard deviation of loan amount in 90-day loans
termDay_average_dict = termDay_average.to_dict()
termDay_average_for_30 = termDay_average[30]
print("The mean for 30-day loans is {}".format(round(termDay_average_for_30, 2)))

The mean for 30-day loans is 7941.96

In [18]:
termDay_std_dict = termDay_std.to_dict()
termDay_std_30 = termDay_std[90]
print("The standard deviation for 90-day loans is {}".format(round(termDay_std_30, 2)))

The standard deviation for 90-day loans is 18050.14

---

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [15]:
# week of year and average number of late days
late_loans_df.index
late_loans_df.set_index(late_loans_df['appilcationDate'], inplace=True)
week_of_year = late_loans_df.resample('W').mean()
week_of_year_with_average_number_of_days_late = week_of_year.drop(["LoanNumber","LoanAmount","InterestRate","TermDays"],axis=1)
week_of_year_with_average_number_of_days_late.head()

Empty DataFrame
Columns: []
Index: [2018-01-07 00:00:00, 2018-01-14 00:00:00, 2018-01-21 00:00:00, 2018-01-28 00:00:00, 2018-02-04 00:00:00]

In [17]:
#avg_late_days = week_of_year[1:2]['dateDifference']
#print("On average loans applied for in the second week were {}". format(round(float(avg_late_days),2)), "days late")

In [18]:
late_loans_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 145 entries, 2018-01-30 to 2018-01-03
Data columns (total 10 columns):
customerID           145 non-null object
loanId               145 non-null object
appilcationDate      145 non-null datetime64[ns]
LoanNumber           145 non-null int64
LoanAmount           145 non-null float64
InterestRate         145 non-null float64
TermDays             145 non-null int64
repaymentDueDate     145 non-null datetime64[ns]
repaymentPaidDate    145 non-null datetime64[ns]
dateDifference       145 non-null timedelta64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(2), timedelta64[ns](1)
memory usage: 12.5+ KB

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.

### Notebook
Please save you notebook as `yourEmail.ipynb` where you replace `yourEmail` with your actual email address and attach it to the arise Challenge Answers form.